name: Deploy - Test (Buffered)

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency: deploy-test-buffered${{ (github.event_name == 'pull_request' && '-dev') || '' }}

jobs:
  buffered-deploy:
    strategy:
      matrix:
        architecture: [lambda-mono, lambda-s3, edge-unbundled]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Build
        run: npm run build:all
        env:
          STAGE: ${{ github.event_name == 'pull_request' && 'dev' || 'prod' }}
          BUFFERED_RESPONSE: 'TRUE'
          ADAPTER_ARCHITECTURE: ${{ matrix.architecture }}
          ADAPTER_FQDN: ${{ format('buffered.{0}.adapter-aws.com', matrix.architecture) }}
          ADAPTER_CERTIFICATE_ARN: ${{ (matrix.architecture == 'lambda-mono' && secrets.BUFFERED_LAMBDA_MONO_CERTIFICATE_ARN) || (matrix.architecture == 'lambda-s3' && secrets.BUFFERED_LAMBDA_S3_CERTIFICATE_ARN) || (matrix.architecture == 'edge-unbundled' && secrets.BUFFERED_EDGE_UNBUNDLED_CERTIFICATE_ARN)}}

  buffered-test:
    needs: buffered-deploy
    strategy:
      matrix:
        architecture: [lambda-mono, lambda-s3, edge-unbundled]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Setup Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: true

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Test
        run: npx playwright test
        env:
          ADAPTER_FQDN: ${{ github.event_name == 'pull_request' && ((matrix.architecture == 'lambda-mono' && vars.BUFFERED_LAMBDA_MONO_PREVIEW_URL) || (matrix.architecture == 'lambda-s3' && vars.BUFFERED_LAMBDA_S3_PREVIEW_URL) || (matrix.architecture == 'edge-unbundled' && vars.BUFFERED_EDGE_UNBUNDLED_PREVIEW_URL)) || format('buffered.{0}.adapter-aws.com', matrix.architecture) }}
