name: Deploy - Test

on:
  push:
    branches: main
  pull_request:
    branches: main

concurrency: 'deploy-test'

env:
  LAMBDA_MONO_PREVIEW_URL: ${{ vars.LAMBDA_MONO_PREVIEW_URL }}
  LAMBDA_S3_PREVIEW_URL: ${{ vars.LAMBDA_S3_PREVIEW_URL }}
  EDGE_BUNDLED_PREVIEW_URL: ${{ vars.EDGE_BUNDLED_PREVIEW_URL }}
  EDGE_UNBUNDLED_PREVIEW_URL: ${{ vars.EDGE_UNBUNDLED_PREVIEW_URL }}

jobs:
  deploy:
    strategy:
      matrix:
        architecture: [lambda-mono, lambda-s3, edge-bundled, edge-unbundled]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4

      - name: Setup Node.js
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3
        with:
          node-version: 18

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
          run_install: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8c3f20df09ac63af7b3ae3d7c91f105f857d8497 # v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Build
        run: pnpm build
        env:
          ADAPTER_ARCHITECTURE: ${{ matrix.architecture }}
          ADAPTER_FQDN: ${{ format('{0}.adapter-aws.com', matrix.architecture) }}
          ADAPTER_CERTIFICATE_ARN: ${{ (matrix.architecture == 'lambda-mono' && secrets.LAMBDA_MONO_CERTIFICATE_ARN) || (matrix.architecture == 'lambda-s3' && secrets.LAMBDA_S3_CERTIFICATE_ARN) || (matrix.architecture == 'edge-bundled' && secrets.EDGE_BUNDLED_CERTIFICATE_ARN) || (matrix.architecture == 'edge-unbundled' && secrets.EDGE_UNBUNDLED_CERTIFICATE_ARN)}}

  test-dev:
    needs: deploy
    if: vars.STAGE != 'prod'
    strategy:
      matrix:
        architecture: [lambda-mono, lambda-s3, edge-bundled, edge-unbundled]
    uses: jill64/workflows/.github/workflows/test.yml@main
    with:
      test-command: ${{ format('pnpx playwright install && export ADAPTER_FQDN={0} && pnpm test', (matrix.architecture == 'lambda-mono' && env.LAMBDA_MONO_PREVIEW_URL) || (matrix.architecture == 'lambda-s3' && env.LAMBDA_S3_PREVIEW_URL) || (matrix.architecture == 'edge-bundled' && env.EDGE_BUNDLED_PREVIEW_URL) || (matrix.architecture == 'edge-unbundled' && env.EDGE_UNBUNDLED_PREVIEW_URL)) }}

  test-prod:
    needs: deploy
    if: vars.STAGE == 'prod'
    strategy:
      matrix:
        architecture: [lambda-mono, lambda-s3, edge-bundled, edge-unbundled]
    uses: jill64/workflows/.github/workflows/test.yml@main
    with:
      test-command: ${{ format('pnpx playwright install && export ADAPTER_FQDN={0}.adapter-aws.com && pnpm test', matrix.architecture) }}
